<h1>{{my.Data.name}}</h1>
<div>
    <ul class="education">
        {{#with myData.education}}
        <li><span class="first-block">โรงเรียนเทศบาลวัดดอนไก่ดี:</span><span class="second-block">{{โรงเรียนเทศบาลวัดดอนไก่ดี}}</span></li>
        <li><span class="first-block">โรงเรียนกระทุ่มแบนวิเศษสมุทคุณ:</span><span class="second-block">{{โรงเรียนกระทุ่มแบนวิเศษสมุทคุณ}}</span></li>
       <li><span class="first-block">มหาวิทยาลัยราชภัฎนครปฐม:</span><span class="second-block">{{มหาวิทยาลัยราชภัฎนครปฐม}}</span></li>
       {{/with}}
    </ul>
</div>
       