<section class="home" id="home">
    <div class="home__container bd-grid">
        <div class="home__data">
            <div class="home__img">
           <img src="../../img/pro.jpg"> 
            </div>

            <h1 class="home__title">{{myData.name}}</h1>
            <span class="home__profession">{{myData.work}}</span>

            <div class="home__social">
                <a href="https://www.facebook.com/Nattanai.Teerakanon/" target="_blank" class="home__social-link"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.instagram.com/mhapao_/?hl=th" target="_blank" class="home__social-link"><i class='bx bxl-instagram' ></i></a>
                <a href="https://github.com/614259013/nattanai_portfolio" target="_blank" class="home__social-link"><i class='bx bxl-github' ></i></a>

            </div>
            
            <a href="/aboutme" class="button home__button">AboutMe</a>
        </div>
    </div>   
</section>
<footer class="footer section">
    <div class="footer__container bd-grid">
        <h1 class="footer__title">Mhapao</h1>
        <p class="footer__description">I am mhapao and this is my personal website, consult me here</p>

        <div class="foodter__social">
            <a href="https://www.facebook.com/Nattanai.Teerakanon/" target="_blank" class="footer__link"><i class='bx bxl-facebook' ></i></a>
            <a href="https://www.instagram.com/mhapao_/?hl=th" target="_blank" class="footer__link"><i class='bx bxl-instagram' ></i></a>
            <a href="https://twitter.com/mhapao" target="_blank" class="footer__link"><i class='bx bxl-twitter' ></i></a>
        </div>

        <p class="footer__copy">All right reserved by mhapao - 2020</p>
    </div>
</footer>




