<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>My Skills</h1>

<div class="skill">
        <div class="container">
        <div class="skills html">{{myData.skill.HTML}}</div>
</div>


<div class="container">
  <div class="skills php">{{PHP}}</div>
</div>


<div class="container">
  <div class="skills css">{{CSS}}</div>
</div>


<div class="container">
  <div class="skills js">{{JavaScript}}</div>
</div>
</body>
</html>