<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>My Skills</h1>
<p>HTML</p>
<div class="skill">
        <div class="container">
        <div class="skills html">{{myData.skill.HTML}}</div>
</div>

<p>PHP</p>
<div class="container">
  <div class="skills php">{{myData.skill.PHP}}</div>
</div>

<p>CSS</p>
<div class="container">
  <div class="skills css">{{myData.skill.CSS}}</div>
</div>

<p>JavaScript</p>
<div class="container">
  <div class="skills js">{{myData.skill.JavaScript}}</div>
</div>
</body>
</html>