<h1>{{my.Data.name}}</h1>
<div>
    <ul class="workexperience">
        {{#with myData.workexperience}}
        <span class="first-block">ประสบการณ์ทำงาน:</span><span class="second-block">{{ประสบการณ์ทำงาน}}</span>
        
       {{/with}}
    </ul>
</div>