body{
   background-color: aquamarine;    
}
.about img{
   border-radius: 45%;
   width: 25%;
   height: 20%;
}
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 35%; background-color: #4CAF50;}
.css {width: 25%; background-color: #2196F3;}
.js {width: 20%; background-color: #f44336;}
.php {width: 15%; background-color: #808080;}